.logo {
  font-family: var(--logo-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo__second-part {
  color: var(--main-text-color);
}