.page-header {
  border-bottom: 1px solid var(--header-border-color);
  // position: relative;
  padding: 10px 0;

  @media screen and(min-width:$tablet) {
    padding: 0;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}